.Character{
    width: 300px;
    display: flex;
    flex-direction: column;
    margin: 15px;
}

.CharacterImg{

}
.CharacterName{
    font-size: 18px;
    color: #fff;
    padding: 10px;
    text-align: center;
}